<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
		<div>
			<h1>Owner authentication...</h1>
			<p><%= @relation.id %></p>
			<p><%= @relation.user.name %></p>
			<p><%= @relation.item.name %></p>
		</div>
	</div>
</div>