		<footer class="footer-page-fixed">
      <div class="row">
        <p>© COPYRIGHT OWMI 2015 | <a href="">TÉRMINOS Y CONDICIONES DE USO</a></p>
        <span><img src="#" alt=""></span>
      </div>
		</footer>
	</body>
</html>