<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#">
        <img alt="Brand" src="http://www.owmi.co/images/btn-menu.png">
      </a>


      <div class="navbar-social-container">
        <a class="navbar-social" href="#">
          <img alt="social 1" src="http://www.owmi.co/images/icon-play.png">
        </a>
        <a class="navbar-social" href="#">
          <img alt="social 1" src="http://www.owmi.co/images/icon-twitter.png">
        </a>
        <a class="navbar-social" href="#">
          <img alt="social 1" src="http://www.owmi.co/images/icon-facebook.png">
        </a>
        <a class="navbar-social" href="#">
          <img alt="social 1" src="http://www.owmi.co/images/icon-email.png">
        </a>

        <div class="navbar-login-container">
          <a href="">
            <img src="http://www.owmi.co/images/icon-login.png" alt="">
            <p>Login</p>
            <img src="http://www.owmi.co/images/arrow-bottom.png" alt="Login Info">
          </a>
        </div>


      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>