<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <% if session[:logged_in_user] %>

      <div class="logged-in-container pull-right">
        <%= current_user.name %> - 
        <%= link_to "Log out", logout_path, method: :delete %>
        <%= image_tag("/system/images/login.png", size: "60x40", alt: "Edit Entry") %>
      </div>

      <% else %>
      <%= render :partial => '/login/login' %>
      <% end %>

      <!-- -->
    </div>
    <!-- -->
  </div>
</nav>

