<div class="list-group">
<% @item_requests.each do |ar_relation| %>
  <% if ar_relation.any? %>
    <% ar_relation.each do |relation| %>
			
			<%= 
				render partial: ( relation.item.is_found? ? 
													'/items/item_found_requests' : 
													'/items/item_lost_requests'), 
													locals: { relation: relation } 
			%>

    <% end %>
  <% else %>
  	<p>There are no requests by other users for your lost/found items.</p>
  <% end %>
<% end %>

<% if @item_requests.any? == false %>
	<p>There are no matches for your reports yet.  Let's be optimistic.</p>
<% end %>

</div>
