<%= form_tag search_path, :method => 'get' do %>
  <%= 
  	text_field_tag :search, params[:search], 
  	placeholder: "Lost something? Search it here...", class: "form-control search-form" 
  %>
  <%= submit_tag "Search", :name => nil, class: "btn btn-success btn-lg pull-right search-btn" %>
  <div><p>e.g. Passport John Doe </p></div>
<% end %>