<% if flash["success_message"] %>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <strong><%= flash["success_message"] %></strong>
</div>
<% end %>

<% if flash["info_message"] %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <strong><%= flash["info_message"] %></strong>
</div>
<% end %>

<% if flash["warning_message"] %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <strong><%= flash["warning_message"] %></strong>
</div>
<% end %>

<% if flash["danger_message"] %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  	<span aria-hidden="true">&times;</span>
  </button>
  <strong><%= flash["danger_message"] %></strong>
</div>
<% end %>