<div class="search-index-container">
  <div class="logo"></div>
  <div class="search"></div>
  <div class="search-btn"></div>
  <div class="search-tip"></div>
  <div class="menu-search"></div>
</div>

<div class="testimonios-container">
  <div class="testimonio-header">TESTIMONIOS</div>
  <div class="testimonio-header-bar">
    <span class="color"></span>
  </div>
  <div class="testimonio-body">
    <div class="testimonio-img">
      <img src="http://www.owmi.co/images/testimonial-img.jpg" alt="Testimonial profile img">
    </div>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
    <div class="testimonio-author">
      <p>---- Pablo Guzmán</p>
    </div>
  </div>
</div>
