<div class="col-md-12">
	<div class="col-md-6">

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="landing-logo">
					<img src="https://dl.dropboxusercontent.com/u/10924302/recover-me/logo.png" alt="Owmi Logo" class="img-responsive">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<blockquote class="blockquote-reverse quote-product-desc">
					<p>
						Register now to search for your lost things or report an object you've found.  Owmi is here to help people help each other, that is why we believe in your good will.
					</p>
				</blockquote>
			</div>
		</div>

	</div>
	<div class="col-md-6">
		<div class="landing-resgistration-container">

			<%=
				render partial: ( logged_in? ?
													'/site/logged_index' :
													'/registration/registration' ) #, for sending local vars
													#locals: { relation: relation }
			%>

			<%# = render :partial => '/registration/registration' %>

		</div>
	</div>
</div>
