<div class="col-md-12">
	<div class="col-md-6">

		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="landing-logo">
					<img src="/system/images/logo.png" alt="Owmi Logo" class="img-responsive">	
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-md-12">
				<blockquote class="quote-product-desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
				</blockquote>
			</div>
		</div>

	</div>
	<div class="col-md-6">
		<div class="landing-resgistration-container">
			<%= render :partial => '/registration/registration' %>
		</div>
	</div>
</div>
