// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container{
	height: 600px;
}

body {
	background: url('/system/images/owmi_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Muli', sans-serif;
	font-size: 150%;
	font-weight:300;
}

.panel-title{
	text-decoration: none;
	font-size: 110%;
	color: white;
}

.panel-title a:hover{
	text-decoration: none;
}

.panel-title a:visited{
	text-decoration: none;
}

.panel-title a:active{
	text-decoration: none;
}

.panel-title a:link{
	text-decoration: none;
}

.panel{
	border-top-right-radius: 25px;
	background-color: rgba(255,255,255,0.5);
	border: none;
}

.list-group-item{
	border: none;	
}

.search-btn{
	margin: 5px 0 0 0;
}

.main-panel{
	margin: 40px 0 0 0;
}

.search-form{
	margin: 30px 0 0 0;
}

.panel-default > .panel-heading{
	border-top-right-radius: 25px;
	background: url('/system/images/ac_heading_bg.gif') repeat;
}

.bold-font{
	font-weight:400;
}











