// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-container{
	height: 600px;
}

body {
	background: url('https://dl.dropboxusercontent.com/u/10924302/recover-me/owmi_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Muli', sans-serif;
	font-size: 150%;
	font-weight:300;
	padding-bottom:200px;
}

.panel-title{
	text-decoration: none;
	font-size: 110%;
	color: white;
}

.panel-title a:hover{
	text-decoration: none;
}

.panel-title a:visited{
	text-decoration: none;
}

.panel-title a:active{
	text-decoration: none;
}

.panel-title a:link{
	text-decoration: none;
}

.panel{
	border-top-right-radius: 25px;
	background-color: rgba(255,255,255,0.5);
	border: none;
}

.list-group-item{
	border: none;
}

.search-btn{
	margin: 5px 0 0 0;
}

.main-panel{
	margin: 40px 0 100px 0;
}

.search-form{
	margin: 30px 0 0 0;
}

.panel-default > .panel-heading{
	border-top-right-radius: 25px;
	background: url('https://dl.dropboxusercontent.com/u/10924302/recover-me/ac_heading_bg.gif') repeat;
}

.bold-font{
	font-weight:400;
}

.logged-in-container{
	float:right;
	margin:10px 0 10px 0;
}

.image-login{
	margin: 0 0 0 0;
	width:40px;
}

.login-form{
	position: absolute;
	top: 6px;
}

.top-left-brand{
	width: 64px;
}

.navbar-form{
	border: none;
}

.flash-msgs-container{
	margin: 10px 0 0 0;
}

.landing-logo{
	margin: 50px 0 0 0;
}

.landing-resgistration-container{
	margin: 100px 0 0 0;
}

.quote-product-desc{
	margin: 40px 20px 0 20px;
	font-size: 200%;
}

.footer-page-fixed{
	height: 40px;
	width: 100%;
	bottom: 0px;
	position: fixed;
	margin: 30px 0 0 0;
	background: url('https://dl.dropboxusercontent.com/u/10924302/recover-me/ac_heading_bg.gif') repeat;
	color: white;
	text-align: center;
}

.footer-page-fixed p{
	margin: 10px 0 0 0;
}

.big-image-logo{
	text-align: center;
}

.eg-search-box{
	color: #CCCCCC;
}

.btn-success{
  background-color: rgb(92, 212, 228);
  border-color: rgba(92, 212, 228, 0.5);
}

.btn-success:hover{
	background-color: rgb(92, 212, 228);
  border-color: rgba(52, 123, 132, 1);
  color: rgba(52, 123, 132, 1);
}

.object-image{
	border-radius: 4px;
}

.index-btns{
	margin: 20px 0 0 0;
}

.landing-resgistration-container{
	margin: 150px 0 0 0;
}

#accordion{
	z-index: 10;
}

@media (max-width: 600px) {

  .landing-logo{
		margin: 10px 0 0 0;
	}

	.landing-resgistration-container{
		margin: 30px 0 0 0;
	}

	.quote-product-desc{
		margin: 30px 0 0 0;
		font-size: 100%;
	}

}






